<app-navbar></app-navbar>
<div class="todo">
    <div class="text-center">
        <br>
        <h2>Modificar Accidente</h2>
        <br>
    </div>
    <br>
</div>
<form [formGroup]="myForm" autocomplete="off">
    <table class="tftable">
        <tr>
            <th>
                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Código</mat-label>
                    <input matInput formControlName="codigo">
                </mat-form-field>
                
            </th>
            <th>
                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Apellidos y Nombres</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>
                
            </th>
        </tr>
        <tr>
            <td>

                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Cedula</mat-label>
                    <input matInput formControlName="cedula">
                </mat-form-field>
                
            </td>
            <td>
                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Edad</mat-label>
                    <input matInput formControlName="edad">
                </mat-form-field>
                
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Lugar</mat-label>
                    <input matInput formControlName="lugar">
                </mat-form-field>
                
            </td>
            <td>
                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Fecha y Hora de Accidente</mat-label>
                    <input matInput formControlName="fechaAccidente" placeholder="dd/mm/yyyy hh:mm">
                </mat-form-field>
                
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Testigo</mat-label>
                    <input matInput formControlName="testigo">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-contain" appearance="fill">
                    <mat-label>Hospitalizacion o Reposo</mat-label>
                    <mat-select [(value)]="selected2" formControlName="hospitalizacion">
                        <mat-option>Seleccionar Opción</mat-option>
                        <mat-option value="Hospitalización">Hospitalización</mat-option>
                        <mat-option value="Reposo">Reposo</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Fotografia</mat-label>
                    <input matInput formControlName="fotografia">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-contain" [style.fontSize.px]=16>
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="descripcion">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <div class="d-flex justify-content-between">
        <button [routerLink]="['/modificarA']"
            class="btn btn-primary btn-block btn-xl">Atrás</button>
        <button class="btn btn-primary btn-block btn-xl" [disabled]="myForm.invalid" (click)="obtenernuevoAccidente()" >Modificar</button>
    </div>
</form>