<app-navbar></app-navbar>
<div class="todo">
    <div class="text-center">
        <br>
        <h2>Eliminar Accidentes</h2>
        <br>
    </div>
    <br>
    <div>
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Lugar</th>
                    <th>Fecha y Hora</th>
                    <th>Testigo</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accidente of listAccidentes">
                    <td>{{accidente.codigo}}</td>
                    <td>{{accidente.cedula}}</td>
                    <td>{{accidente.nombre}}</td>
                    <td>{{accidente.edad}}</td>
                    <td>{{accidente.lugar}}</td>
                    <td>{{accidente.fechaAccidente}}</td>
                    <td>{{accidente.hospitalizacion}}</td>
                    <td>
                        <i class="fa-solid fa-trash-can far" (click)="borrarAccidente(accidente)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="d-flex justify-content-between">
            <button [routerLink]="['/opcionesaccidentes']" class="btn btn-primary btn-block btn-xl">Atrás</button>
        </div>
</div>
</div>
