<app-navbar></app-navbar>
<div class="d-flex align-items-center todo">
    <div class="container mt-4">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-xl" routerLink="/opcionesaccidentes">Registrar Accidente</button>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-xl" routerLink="/opcionesincidentes">Registrar Incidente</button>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-xl" routerLink="/informes">Informes</button>
        </div>
        <br>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-xl" (click)="salir()">Cerrar Sesion</button>
        </div>
    </div>
</div>
<app-footer></app-footer>