<app-navbar></app-navbar>
<div class="todo">
    <div class="text-center">
        <br>
        <h2>Registrar Incidente</h2>
        <br>
    </div>
    <br>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">
            <form [formGroup]="myForm" autocomplete="off">
                <div class="col-lg-12">
                    <mat-form-field class="example-contain" [style.fontSize.px]=16>
                        <mat-label>Código</mat-label>
                        <input matInput formControlName="codigo">
                    </mat-form-field>
                    <div *ngIf="myForm.get('codigo').hasError('required') && myForm.get('codigo').touched"
                        style="margin-top: -20px;">
                        <span class="rojo">Este campo es Requerido</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <mat-form-field class="example-contain" [style.fontSize.px]=16>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                    <div *ngIf="myForm.get('nombre').hasError('required') && myForm.get('nombre').touched"
                        style="margin-top: -20px;">
                        <span class="rojo">Este campo es Requerido</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <mat-form-field class="example-contain" appearance="fill">
                        <mat-label>Tipo</mat-label>
                        <mat-select [(value)]="selected1" formControlName="tipo">
                          <mat-option>Escoger Tipo</mat-option>
                          <mat-option value="Químico">Químico</mat-option>
                          <mat-option value="Agentes Biológicos">Agentes Biológicos</mat-option>
                          <mat-option value="Posturas">Posturas</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="myForm.get('tipo').hasError('required') && myForm.get('tipo').touched"
                        style="margin-top: -20px;">
                        <span class="rojo">Este campo es Requerido</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <mat-form-field class="example-contain" appearance="fill">
                        <mat-label>Riesgo</mat-label>
                        <mat-select [(value)]="selected2" formControlName="riesgo">
                          <mat-option>Escoger Riesgo</mat-option>
                          <mat-option value="Bajo">Bajo</mat-option>
                          <mat-option value="Medio">Medio</mat-option>
                          <mat-option value="Alto">Alto</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="myForm.get('riesgo').hasError('required') && myForm.get('riesgo').touched"
                        style="margin-top: -20px;">
                        <span class="rojo">Este campo es Requerido</span>
                    </div>
                </div>
                <div class="col-lg-12">
                        <mat-form-field class="example-contain" [style.fontSize.px]=16>
                            <mat-label>Fecha de Incidente</mat-label>
                            <input matInput formControlName="fechaIncidente" placeholder="dd/mm/yyyy">
                        </mat-form-field>
                        <div *ngIf="myForm.get('fechaIncidente').hasError('required') && myForm.get('fechaIncidente').touched"
                            style="margin-top: -20px;">
                            <span class="rojo">Este campo es Requerido</span>
                        </div>
                </div>
                <div class="col-lg-12">
                    <mat-form-field class="example-contain" [style.fontSize.px]=16>
                        <mat-label>Motivo</mat-label>
                        <input matInput formControlName="motivo">
                    </mat-form-field>
                    <div *ngIf="myForm.get('motivo').hasError('required') && myForm.get('motivo').touched"
                        style="margin-top: -20px;">
                        <span class="rojo">Este campo es Requerido</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <button [routerLink]="['/login/registroaccidente/opcionesincidentes']" 
        class="btn btn-primary btn-block btn-xl">Atrás</button>
        <button class="btn btn-primary btn-block btn-xl" [disabled]="myForm.invalid" (click)="guardarIncidente()">Guardar</button>
    </div>
</div>