
<div id="print" class="print">
    <div nz-col style="text-align: center;">
        <table class="tftable" border="1">
            <tr>
                <td colspan="2" align="center"><strong>REPORTE INMEDIATO DE ACCIDENTE/INCIDENTE DE TRABAJO</strong></td>
            </tr>
            <tr>
                <td align="left">Accidente <i class="fa-solid fa-square-check"></i></td>
                <td align="left">Incidente <i class="fa-solid fa-square"></i></td>
            </tr>
            <tr>
                <td align="left">Lugar y Fecha:{{data.lugar}} -{{data.fechaAccidente}} </td>
                <td align="left">Código: {{data.codigo}}</td>
            </tr>
            <tr>
                <td align="left" colspan="2"><strong>1.- DATOS GENERALES</strong></td>
            </tr>
            <tr>
                <td align="left">Nombres del Accidentado/Incidentado</td>
                <td>{{data.nombre}}</td>
            </tr>
            <tr>
                <td align="left">Cargo:</td>
                <td>{{data.cargo}}</td>
            </tr>
            <tr>
                <td align="left">Edad:</td>
                <td>{{data.edad}}</td>
            </tr>
            <tr>
                <td align="left">Fecha y Hora del Accidente:</td>
                <td>{{data.fechaAccidente}}</td>
            </tr>
            <tr>
                <td align="left">Nombre del Testigo: </td>
                <td>{{data.testigo}}</td>
            </tr>
            <tr>
                <td align="left">Hospitalizacion o Reposo:</td>
                <td>{{data.hospitalizacion}}</td>
            </tr>
            <tr>
                <td align="left">BREVE DESCRIPCION DEL ACCIDENTE</td>
                <td align="left">FOTOGRAFÍA</td>
            </tr>
            <tr>
                <td>{{data.descripcion}}</td>
                <td><img src="{{data.fotografia}}" width="300" height="200"></td>
            </tr>
        </table>
    </div>
</div>
<button class="btn btn-primary btn-block btn-xl doNotPrint btn-xl" nz-button nzGhost (click)="printer()">
    <i nz-icon type="printer" theme="outline"></i>Imprimir/Exportar PDF
</button>